<%- include ../partials/header.ejs %>
<ng-view></ng-view>
<script type="text/ng-template" id="/todos.html">
<div class="row">
  <div class="col-md-12">
    <h4>{{remainingTodos()}} out of {{totalTodos()}} ToDos remaining</h4>
  </div>
</div>
<div style="height:10px"></div>
<div class="row">
  <div class="col-md-3">
    <input type="text" ng-model="search.name" id="searchTodo" placeholder="Todo to find" class="form-control">
  </div>
</div>
<div style="height:10px"></div>
<table class="table table-bordered table-striped table-hover" ng-init="setUserName('<%= username %>')">
  <thead>
    <tr>
      <th></th>
      <th style="text-align:center;">Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="todo in todos | filter: search | filter: {username: '<%= username %>'}">
      <td><input type="checkbox" ng-model="todo.completed" ng-change="update($index)"></td>
      <td>
        <a ng-show="!editing[$index]" href="#/{{todo._id}}" class="completed-{{todo.completed}}">{{todo.name}}</a>
        <input ng-show="editing[$index]" type="text" ng-model="todo.name" class="form-control">
      </td>
      <td style="text-align: center;">
        <button type="button" class="btn btn-primary" ng-show="!editing[$index]" ng-click="edit($index)">
          <span class="glyphicon glyphicon-edit"> </span>
        </button>
        <button type="button" class="btn btn-warning" ng-show="editing[$index]" ng-click="cancel($index)">
          <span class="glyphicon glyphicon-ban-circle"> </span>
        </button>
        <button type="button" class="btn btn-success" ng-show="editing[$index]" ng-click="update($index)">
          <span class="glyphicon glyphicon-floppy-disk"> </span>
        </button>
        <button type="button" class="btn btn-danger" ng-show="editing[$index]" ng-click="remove($index)">
          <span class="glyphicon glyphicon-trash"> </span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-md-3">
    <input type="text" ng-model="newTodo" id="newTodo" placeholder="Add a new Todo" class="form-control">
  </div>
  <div class="col-md-1">
    <button type="button" ng-click="save()" class="btn btn-primary">Add</button>
  </div>
</div>
</script>
<script type="text/ng-template" id="/todoDetails.html">
<h3>Name: {{ todo.name }}</h3>
<div class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-4">Completed: </label>
    <div class="col-sm-4" style="text-align:left;">
      <input type="checkbox" ng-model="todo.completed">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4">Notes: </label>
    <div class="col-sm-4">
      <textarea ng-model="todo.note" class="form-control"></textarea>
    </div>
  </div>
  <div class="btn-group">
      <button type="button" ng-click="update()" class="btn btn-warning">update</button>
      <button type="button" ng-click="remove()" class="btn btn-danger">remove</button>
      <button type="button" ng-click="cancel()" class="btn btn-default">cancel</button>
  </div>
</div>
</script>
<%- include ../partials/footer_navbar.ejs %>
<%- include ../partials/nglib.ejs %>
<%- include ../partials/footer.ejs %>
