<!--
File name: index.ejs
Author: Alex Andriishyn
Website: http://alexandriishyn.azurewebsites.net/
File description: users home page
-->
<%- include ../partials/header.ejs %>
<div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <% if (usersCollection.length > 0) { %>
    <div class="panel-body table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>User name</th>
            <th>Email</th>
            <th>Date Created</th>
            <th>Date Updated</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < usersCollection.length; i++) { %>
            <tr>
              <td><%= usersCollection[i].firstname %></td>
              <td><%= usersCollection[i].lastname %></td>
              <td><%= usersCollection[i].username %></td>
              <td><%= usersCollection[i].email %></td>
              <td>
                <% var date = new Date(usersCollection[i].created); %>
                <%= date.toDateString() + " " + date.toLocaleTimeString(); %>
              </td>
              <td>
                <% var date = new Date(usersCollection[i].updated);  %>
                <%= date.toDateString() + " " + date.toLocaleTimeString(); %>
              </td>
              <td>
                <a href="/users/<%= usersCollection[i]._id %>" title="Edit" class="btn btn-primary">
                  <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="/users/delete/<%= usersCollection[i]._id %>" title="Delete" onclick="return confirm('Are you sure you want to delete this?');" class="btn btn-danger">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <% } %>
    </div>
<%- include ../partials/footer.ejs %>
